# PostgreSQL
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=НАЗВАНИЕ БД

# Spring Boot
SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/НАЗВАНИЕ БД
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=

# JWT
JWT_SECRET=MySuperSecretKeyForJWTGeneration2024
JWT_EXPIRATION_MS=86400000

# Server
SERVER_PORT=4444